.TabBar {
  display: flex;
  flex-direction: row;
  height: 5%;
  border-bottom: 1px solid black;
}

.TabBar-Tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 16px;
  border: 1px solid blue;
  cursor: pointer;
}

.TabBar-Tab:hover {
  background-color: #a4a4a4;
}
