.PageHeader {
  display: flex;
  flex-direction: row;
  background-color: #303030;
  height: 20%;
}

.PageHeader-Escape {
  display: flex;
  flex-direction: row;
  height: 100%;
  font-size: 96px;
  font-weight: 800;
  justify-content: center;
  align-items: center;
}

.PageHeader-Logo {
  height: 100px;
  width: 100px;
  z-index: 1000;
}

.PageHeader-User {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin-right: 0px;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.PageHeader-userText {
  font-size: 14px;
}
